[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
python-telegram-bot = "*"
requests = "*"
beautifulsoup4 = "*"
pykrx = "*"
html5lib = "*"
pyqt5 = "*"
kiwoomos = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
